body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(255, 216, 223);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

container {
    width: 40%;
    height: 400px;
    background-color: #fff;
    position: absolute;
    top: 30%;
    border-radius: 10px;
    display: flex;
}

.left {
    width: 50%;
    height: auto;
    background-image: url("../img/Screenshot_9.png");
    background-size: cover;
    background-position: center;
    border-top-left-radius : 10px;
    border-bottom-left-radius: 10px;
}

.right {
    width: 50%;
    height: auto;
    padding: 20px;
    letter-spacing: 5px;
    font-size: 1.5rem;
}

.right .subtitulo {
    letter-spacing: normal;
    margin-top: 15px;
    font-weight: bold;
}