body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #1f1f1f;
    width: 30%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar {
    background-image: url("../img/pessoa.jpg");
    background-size: cover;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 30px 15px 15px 15px;
}

.name {
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin-top: 5px;
}

.subtitle {
    color: #eaa81c;
    margin-top: -15px;
    font-size: 0.8rem;
}

.description {
    color: #fff;
    font-size: 0.8rem;
}

.redirect {
    background-color:#333 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 20px;
    width: 80%;
}

.redirect:hover {
    background-color: #fff;
    color: #333;
    font-weight: bold;
}